<div class="incident-fields">
  <div class="field">
    <%= form.label :title, 'タイトル' %><br />
    <%= form.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :description, '説明' %><br />
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :occurred_at, '発生日時' %><br />
    <%= form.datetime_select :occurred_at %>
  </div>

  <button type="button" class="btn btn-danger remove-incident-fields mt-2">削除</button>
</div>
