<h1>新しい事故事例の作成</h1>

<%= form_with model: @incident, url: staffs_incidents_path, local: true do |form| %>
  <div class="field">
    <%= form.label :title, 'タイトル' %><br />
    <%= form.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :description, '説明' %><br />
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :occurred_at, '発生日時' %><br />
    <%= form.datetime_select :occurred_at %>
  </div>

  <div class="field">
    <%= form.label :category_id, 'カテゴリー' %><br />
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: "カテゴリを選択" %>
  </div>

  <div class="actions">
    <%= form.submit '作成' %>
  </div>
<% end %>
