<h2>Staff List</h2>

<table class="table table-bordered" id="staff-table">
  <thead>
    <tr>
      <th><%= link_to '社員番号', admin_panel_staffs_path(sort: 'employee_number', direction: params[:direction] == 'asc' ? 'desc' : 'asc') %></th>
      <th><%= link_to '名前', admin_panel_staffs_path(sort: 'name', direction: params[:direction] == 'asc' ? 'desc' : 'asc') %></th>
      <th>アクション</th>
    </tr>
  </thead>
  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.employee_number %></td>
        <td><%= staff.name %></td>
        <td>
          <%= link_to 'Delete', admin_panel_staff_path(staff), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新規社員登録', new_admin_panel_staff_path %>
