<!-- app/views/admin_panel/staffs/index.html.erb -->
<h1>一般社員ユーザー管理</h1>
<%= link_to '新しい社員を登録', new_admin_panel_staff_path %>
<table>
  <tr>
    <th>社員番号</th>
    <th>名前</th>
    <th>アクション</th>
  </tr>
  <% @staffs.each do |staff| %>
    <tr>
      <td><%= staff.employee_number %></td>
      <td><%= staff.name %></td>
      <td>
        <%= link_to '編集', edit_admin_panel_staff_path(staff) %> |
        <%= link_to '削除', admin_panel_staff_path(staff), method: :delete, data: { confirm: '本当に削除しますか？' } %>
      </td>
    </tr>
  <% end %>
</table>
