<!-- app/views/admin_panel/staffs/new.html.erb -->
<h1>新しい社員を登録</h1>
<%= form_with model: @staff, url: admin_panel_staffs_path do |form| %>
  <div>
    <%= form.label :employee_number, '社員番号' %>
    <%= form.text_field :employee_number, required: true %>
  </div>
  <div>
    <%= form.label :name, '名前' %>
    <%= form.text_field :name, required: true %>
  </div>
  <div>
    <%= form.submit '登録' %>
  </div>
<% end %>
