<h1>新しいスタッフを登録する</h1>

<%= form_with(model: @staff, url: admin_panel_staffs_path) do |f| %>
  <div>
    <%= f.label :employee_number, '社員番号' %>
    <%= f.text_field :employee_number %>
  </div>

  <div>
    <%= f.label :name, '名前' %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.submit '登録' %>
  </div>
<% end %>

<%= link_to 'スタッフ一覧に戻る', admin_panel_staffs_path %>
