<h2>スタッフログイン</h2>

<%= form_with scope: :staff, url: staff_session_path, local: true do |form| %>
  <div class="field">
    <%= form.label :employee_number, '社員番号' %><br />
    <%= form.text_field :employee_number, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :password, 'パスワード' %><br />
    <%= form.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= form.submit "ログイン" %>
  </div>
<% end %>

<div class="links">
  <%= link_to '管理者ログインはこちら', new_admin_session_path %>
  <%= link_to '初回ログインはこちら', new_staff_registration_path %>
</div>
