<h1>事故事例管理</h1>

<nav>
  <ul>
    <li><%= link_to 'すべての事故事例', admin_panel_incidents_path %></li>
    <li><%= link_to '承認済み事故事例', admin_panel_incidents_path(approved: 'true') %></li>
    <li><%= link_to '未承認事故事例', admin_panel_incidents_path(approved: 'false') %></li>
  </ul>
</nav>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= link_to 'タイトル', admin_panel_incidents_path(sort: 'title', direction: params[:direction] == 'asc' ? 'desc' : 'asc') %></th>
      <th><%= link_to '発生日時', admin_panel_incidents_path(sort: 'occurred_at', direction: params[:direction] == 'asc' ? 'desc' : 'asc') %></th>
      <th><%= link_to 'カテゴリー', admin_panel_incidents_path(sort: 'category', direction: params[:direction] == 'asc' ? 'desc' : 'asc') %></th>
      <th><%= link_to '投稿者', admin_panel_incidents_path(sort: 'staff', direction: params[:direction] == 'asc' ? 'desc' : 'asc') %></th>
      <th><%= link_to '状態', admin_panel_incidents_path(sort: 'approved', direction: params[:direction] == 'asc' ? 'desc' : 'asc') %></th>
      <th>アクション</th>
    </tr>
  </thead>
  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= incident.title %></td>
        <td><%= incident.occurred_at %></td>
        <td><%= incident.category.title if incident.category %></td>
        <td><%= incident.staff.name %></td>
        <td><%= incident.approved ? '承認済み' : '未承認' %></td>
        <td>
          <%= link_to '詳細', admin_panel_incident_path(incident) %>
          <% unless incident.approved %>
            <%= link_to '承認', approve_admin_panel_incident_path(incident), method: :patch, data: { confirm: 'この事故事例を承認しますか？' } %>
            <%= link_to '非承認', reject_admin_panel_incident_path(incident), method: :patch, data: { confirm: 'この事故事例を非承認しますか？' } %>
          <% else %>
            <%= link_to '削除', admin_panel_incident_path(incident), method: :delete, data: { confirm: 'この事故事例を削除しますか？' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
