<h1>事故事例一覧</h1>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>説明</th>
      <th>発生日時</th>
      <th>カテゴリー</th>
      <th>承認ステータス</th>
      <th>アクション</th>
    </tr>
  </thead>
  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= link_to incident.title, admin_panel_incident_path(incident) %></td>
        <td><%= incident.description.truncate(20) %></td> <!-- ここで説明を省略表示 -->
        <td><%= incident.occurred_at %></td>
        <td><%= incident.category.title if incident.category %></td>
        <td><%= incident.approved ? '承認済み' : '未承認' %></td>
        <td>
          <%= link_to '詳細', admin_panel_incident_path(incident) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
