<h1>管理者ダッシュボード</h1>
<p>ようこそ、<%= current_admin.employee_number %> さん！</p>
<nav>
  <ul>
    <li><%= link_to '一般社員ユーザー管理', admin_panel_staffs_path %></li>
    <li><%= link_to '事故事例管理', admin_panel_incidents_path %></li>
    <li><%= link_to 'コメント管理', admin_panel_comments_path %></li>
    <li><%= link_to 'プロフィール編集', admin_panel_edit_admin_dashboard_path %></li>
  </ul>
</nav>
