<h2>管理者登録</h2>

<%= form_with model: @admin, url: admin_registration_path, local: true do |form| %>
  <div class="field">
    <%= form.label :employee_number, '社員番号' %><br />
    <%= form.text_field :employee_number, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :password, 'パスワード' %><br />
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, 'パスワード（確認用）' %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= form.submit "サインアップ" %>
  </div>
<% end %>
