<h2>管理者ログイン</h2>

<%= form_with scope: :admin, url: admin_session_path, local: true do |form| %>
  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :password %><br />
    <%= form.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= form.submit "ログイン" %>
  </div>
<% end %>

<div class="links">
  <%= link_to 'スタッフログインはこちら', new_staff_session_path %>
  <%= link_to '初回ログインはこちら', new_admin_registration_path %>
</div>
