<h1>コメント管理</h1>

<nav>
  <ul>
    <li><%= link_to 'すべてのコメント', admin_panel_comments_path %></li>
    <li><%= link_to '承認済みコメント', admin_panel_comments_path(approved: 'true') %></li>
    <li><%= link_to '未承認コメント', admin_panel_comments_path(approved: 'false') %></li>
  </ul>
</nav>

<table>
  <thead>
    <tr>
      <th>内容</th>
      <th>状態</th>
      <th>アクション</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.approved ? '承認済み' : '未承認' %></td>
        <td>
          <% unless comment.approved %>
            <%= link_to '承認', approve_admin_panel_comment_path(comment), method: :patch %>
            <%= link_to '非承認', reject_admin_panel_comment_path(comment), method: :patch %>
          <% else %>
            <%= link_to '削除', admin_panel_comment_path(comment), method: :delete, data: { confirm: 'このコメントを削除しますか？' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
