<h1>コメント一覧</h1>
<table>
  <thead>
    <tr>
      <th>内容</th>
      <th>作成日時</th>
      <th>承認ステータス</th>
      <th>アクション</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.created_at %></td>
        <td><%= comment.approved ? '承認済み' : '未承認' %></td>
        <td>
          <% unless comment.approved %>
            <%= link_to '承認', approve_admin_panel_incident_comment_path(comment.incident, comment), method: :patch, data: { confirm: 'このコメントを承認しますか？' } %>
            <%= link_to '却下', reject_admin_panel_incident_comment_path(comment.incident, comment), method: :patch, data: { confirm: 'このコメントを却下しますか？' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
