<h2>スタッフ登録</h2>

<% if @staff.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>
    <ul>
      <% @staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @staff, url: staff_registration_path, local: true do |form| %>
  <div class="field">
    <%= form.label :employee_number, '社員番号' %><br />
    <%= form.text_field :employee_number, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :email, 'メールアドレス' %><br />
    <%= form.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :password, 'パスワード' %> <em>(英数字6文字以上)</em><br />
    <%= form.password_field :password, autocomplete: "new-password", placeholder: "英数字6文字以上" %>
    <small class="form-text text-muted">パスワードは英数字6文字以上で入力してください。</small>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, 'パスワード（確認用）' %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= form.submit "サインアップ" %>
  </div>
<% end %>
