<!-- app/views/staffs/passwords/edit.html.erb -->
<h2>パスワードの設定</h2>

<%= form_for(resource, as: resource_name, url: custom_staff_password_path(resource_name), html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label :password, '新しいパスワード' %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, '新しいパスワード（確認）' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit 'パスワードを設定' %>
  </div>
<% end %>
