<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>CM Watch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6a081c7be2.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      html, body {
          height: 100%;
      }
      body {
          display: flex;
          flex-direction: column;
      }
      .center-content {
          display: flex;
          justify-content: center;
          align-items: center;
          height: calc(100vh - 200px); /* ヘッダーとフッターを引いた高さ */
          text-align: center;
          white-space: nowrap; /* テキストを一列に表示する */
      }
      .center-content h1,
      .center-content p {
          margin: 0;
      }
      header, footer {
          height: 100px;
      }
      footer {
          margin-top: auto;
          text-align: center;
      }
      .custom-title {
          white-space: nowrap; /* テキストを一列に表示する */
      }
    </style>
</head>

<body>
<!-- ナビゲーションバー -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container position-relative">
        <a class="navbar-brand" href="/" style="position: absolute; left: 50%; transform: translateX(-50%);">CM Watch</a>
        <button class="navbar-toggler position-absolute" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="right: 0;">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <% if admin_signed_in? %>
                <li class="nav-item">
                    <%= link_to admin_panel_admin_dashboard_path, class: "nav-link" do %>
                        <i class="fa-solid fa-house"></i> 管理者ダッシュボード
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to admin_panel_staffs_path, class: "nav-link" do %>
                        <i class="fa-solid fa-people-group"></i> スタッフ一覧
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %>
                        <i class="fa-solid fa-right-from-bracket"></i> ログアウト
                    <% end %>
                </li>
            <% elsif staff_signed_in? %>
                <li class="nav-item">
                    <%= link_to staffs_dashboard_path, class: "nav-link" do %>
                        <i class="fa-solid fa-house"></i> スタッフダッシュボード
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to staffs_incidents_path, class: "nav-link" do %>
                        <i class="fa-solid fa-person-falling-burst"></i> 事故事例
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to edit_staff_path(current_staff), class: "nav-link" do %>
                        <i class="fa-solid fa-id-card"></i> プロフィール編集
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to destroy_staff_session_path, method: :delete, class: "nav-link" do %>
                        <i class="fa-solid fa-right-from-bracket"></i> ログアウト
                    <% end %>
                </li>
            <% else %>
                <li class="nav-item">
                    <%= link_to new_staff_session_path, class: "nav-link" do %>
                        <i class="fa-regular fa-user"></i> スタッフログイン
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to new_admin_session_path, class: "nav-link" do %>
                        <i class="fa-solid fa-user"></i> 管理者ログイン
                    <% end %>
                </li>
            <% end %>
            <li class="nav-item">
                <%= link_to about_path, class: "nav-link" do %>
                    <i class="fa-solid fa-circle-info"></i> About
                <% end %>
            </li>
            <% if admin_signed_in? %>
                <li class="nav-item">
                    <%= link_to notifications_path, class: "nav-link" do %>
                        <i class="fas fa-bell"></i>
                        <% if current_admin.notifications.unread.count > 0 %>
                            <span class="badge badge-danger">NEW!</span>
                        <% end %>
                    <% end %>
                </li>
            <% elsif staff_signed_in? %>
                <li class="nav-item">
                    <%= link_to notifications_path, class: "nav-link" do %>
                        <i class="fas fa-bell"></i>
                        <% if current_staff.notifications.unread.count > 0 %>
                            <span class="badge badge-danger">NEW!</span>
                        <% end %>
                    <% end %>
                </li>
            <% end %>
        </ul>
    </div>
</nav>
</body>


<div class="container-fluid">
    <div class="row">
        <% unless current_page?(root_path) || current_page?(new_staff_session_path) || current_page?(new_admin_session_path) || current_page?(new_staff_registration_path) || current_page?(new_admin_registration_path) %>
            <div class="col-12">
                <button class="navbar-toggler d-block" type="button" data-toggle="collapse" data-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation" style="width: 10%;">
                    <span class="navbar-toggler-icon"></span> メニュー
                </button>
            </div>
            <nav class="col-md-2 bg-light custom-sidebar collapse" id="sidebarNav">
            <div class="sidebar-sticky">
                <ul class="nav flex-column mt-2">        
                        <% if admin_signed_in? %>
                            <li class="nav-item">
                                <%= link_to admin_panel_admin_dashboard_path, class: "nav-link" do %>
                                    <i class="fa-solid fa-house"></i> ダッシュボード
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <%= link_to admin_panel_staffs_path, class: "nav-link" do %>
                                    <i class="fa-solid fa-people-group"></i> スタッフ一覧
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <%= link_to new_admin_panel_staff_path, class: "nav-link" do %>
                                    <i class="fa-solid fa-plus"></i> 新しいスタッフを登録
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <%= link_to admin_panel_incidents_path, class: "nav-link" do %>
                                    <i class="fa-solid fa-person-falling-burst"></i> 事故事例管理
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <%= link_to categories_path, class: "nav-link" do %>
                                    <i class="fa-solid fa-layer-group"></i> カテゴリー管理
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <%= link_to admin_panel_comments_path, class: "nav-link" do %>
                                    <i class="fa-solid fa-comment"></i> コメント管理
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <%= link_to admin_panel_edit_admin_dashboard_path, class: "nav-link" do %>
                                    <i class="fa-solid fa-id-card"></i> プロフィール編集
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %>
                                    <i class="fa-solid fa-right-from-bracket"></i> ログアウト
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link btn btn-light w-100 text-left" type="button" data-toggle="collapse" data-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="fa-solid fa-xmark"></i> メニューを閉じる
                                </button>
                            </li>
                        <% elsif staff_signed_in? %>
                            <li class="nav-item">
                                <%= link_to staffs_dashboard_path, class: "nav-link" do %>
                                    <i class="fa-solid fa-house"></i> ダッシュボード
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <%= link_to staffs_incidents_path, class: "nav-link" do %>
                                    <i class="fa-solid fa-person-falling-burst"></i> 事故事例
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <%= link_to edit_staff_path(current_staff), class: "nav-link" do %>
                                    <i class="fa-solid fa-id-card"></i> プロフィール編集
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <%= link_to destroy_staff_session_path, method: :delete, class: "nav-link" do %>
                                    <i class="fa-solid fa-right-from-bracket"></i> ログアウト
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link btn btn-light w-100 text-left" type="button" data-toggle="collapse" data-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="fa-solid fa-xmark"></i> メニューを閉じる
                                </button>
                            </li>
                        <% else %>
                            <li class="nav-item"><%= link_to 'ログイン', new_staff_session_path, class: "nav-link" %></li>
                        <% end %>
                    </ul>
                </div>
            </nav>
        <% end %>
    </div>
</div>
<style>
/* ボタンスタイルの調整 */
.navbar-toggler {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #007bff; /* 背景色 */
    color: white; /* 文字色 */
    border-radius: 5px; /* 角を丸める */
    padding: 5px 10px; /* パディングを調整してサイズを小さく */
    font-size: 0.75em; /* フォントサイズを小さく */
    width: 10%; /* 横幅を1/10に設定 */
}

/* サイドバーの横幅を1/5に設定 */
.sidebar.collapse {
    position: fixed;
    width: 20%; /* 横幅を1/5に設定 */
    top: 56px; /* ナビゲーションバーの高さに合わせて調整 */
    left: 0;
    z-index: 1000; /* サイドバーを前面に表示 */
    background-color: #fff; /* 背景色 */
    border: 1px solid #ddd; /* 境界線 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加 */
}
</style>


<main role="main" class="<%= current_page?(root_path) || current_page?(new_staff_session_path) || current_page?(new_admin_session_path) || current_page?(new_staff_registration_path) || current_page?(new_admin_registration_path) ? 'col-md-12' : 'col-md-8 offset-md-2 px-4' %>">
    <% if current_page?(root_path) %>
        <div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 100px);">
            <section class="text-center">
                <button class="btn btn-primary btn-lg mb-3" onclick="location.href='<%= new_staff_session_path %>'">一般ユーザー ログイン</button>
                <button class="btn btn-secondary btn-lg mb-3" onclick="location.href='<%= new_admin_session_path %>'">管理者 ログイン</button>
            </section>
        </div>
    <% elsif current_page?(about_path) %>
        <div class="center-content">
            <section class="text-center">
                <h1>About Us</h1>
                <p>Welcome to CM Watch. We are dedicated to providing...</p>
                <!-- 時間があれば情報や画像などを追加 -->
            </section>
        </div>
    <% else %>
        <%= yield %>
    <% end %>
</main>

<footer class="footer mt-auto py-3 bg-light" style="position: fixed; width: 100%; bottom: 0; left: 0; right: 0; z-index: 999;">
    <div class="container-fluid text-center">
        <span class="text-muted">山田ファシリティーサービス株式会社 | XX-XXXX-XXXX</span>
    </div>
</footer>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.amazonaws.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

